body {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1em;

  font-family: Arial, sans-serif;
  color: rgb(241, 241, 241);
  background-color: rgb(12, 12, 12);
}

a {
  text-decoration: none;
  color: rgb(154, 226, 255);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  width: fit-content;
}

strong {
  margin: 0;
}

dim {
  color: rgb(167, 167, 167);
  font-size: small;
}

.center {
  align-content: center;
  text-align: center;
  align-self: center;
  align-items: center;
}

.glowing_title {
  margin-top: 2vh;
  color: #fff;
  text-shadow: rgb(216, 216, 216) 1px 0 10px;
}

.title {
  margin-top: 2vh;
  color: #fff;
}

.outline {
  border-style: solid;
  border-color: rgba(155, 155, 155, 0.464);
  border-width: 3px;
  border-image-slice: 1;
  border-radius: 0;
}

.short-code {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;

  font-family: monospace;
  font-size: 110%;

  padding: 0.3em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.inline-icon {
  vertical-align: middle;
  height: 1.2em;
}
